.Card {
    display: block;
    position: relative;
    width: 342px;
    height: 409px;
    border-radius: 23px;
    background-color: var(--bg-primary);
    margin-left: 41px;
    margin-top: 55px;
}

.Card:hover{
    transform: rotate(-0.01turn);
}

.card-header {
    position: absolute;
    top:18px;
    left:19px;
    width: 300px;
    height: 168px;
    background-color: var(--amaranth);
}

.card-header-text{
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    text-align: right;
    margin: 0px 18px 0px 0px;
    font-size: 48px;
    color:var(--bg-primary)
}

.card-user{
    position: absolute;
    bottom: 144px;
    right: 23.05px;
    width: 62px;
    height: 62px;
}

.card-circle{
    border-radius: 50%;
}

.card-title {
    position: absolute;
    left: 19px;
    top:195px;
    height: auto;
    width: 200px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color:var(--darkpurple);
}

.card-type {
    position: absolute;
    left: 19px;
    top:330px;
    height: auto;
    width: 200px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color:var(--darkpurple);
}

.card-price {
    position: absolute;
    left: 209px;
    top:330px;
    height: auto;
    width: 200px;
    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 18px;

    color:var(--darkpurple);
}